// 站点主色
// tips: 要达到整站主题修改效果, 请确保[$--color-primary]站点主色与[/src/element-ui-theme/index.js]文件中[import './element-[#17b3a3]/index.css']当前主题色一致
$--color-primary: #4490C1;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #4490C1;
$sidebar--color-text-dark: #8a979e;
$sidebar--background-color-gray: #f3f3f3;
$sidebar--color-text-gray: #111111;



// Content
//$content--background-color: #f1f4f5;
$content--background-color: #fff;
